<div class="chat">
  <div class="main_header">
    <div class="currentroom_name">
      hohohoho
    </div>
    <div class="exit_chatroom">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
  <div class="main_body">
    <div class="massage_wrapper">
      <div class="message_info">
        <div class="messager">
          Ken
        </div>
        <div class="message_date">
          2020/10/28(wed) 12:43:30
        </div>
      </div>
      <div class="message_text">
        おはよう
      </div>
    </div>
    <div class="massage_wrapper">
      <div class="message_info">
        <div class="messager">
          Jen
        </div>
        <div class="message_date">
          2020/10/28(wed) 12:43:30
        </div>
      </div>
      <div class="message_text">
        おはよう
      </div>
    </div>
  </div>
  <div class="chat_bar">
    <div class="form_wrapper">
      <div class="form">
        <input type="text" placeholder="type a message">
        <label class="form-image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden">
        </label>
      </div>
      <div class="form_btn">
        <input type="submit" value="送信">
      </div>
    </div>
  </div>
</div>